<%content_for :title, "Editer" %>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card mt-5" style = "width: 500px">
    <div class="card-body">
      <%= form_for @gossip do |f| %>
        <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
        <div class="form-group">
          <h3 class="text-center"> Modifier le Gossip</h3><br>
          <%= f.text_field :title, class: 'form-control', style: 'width: 390px' %>
        </div>
        <div class="form-group">
          <%= f.text_field :content, class: 'form-control', style: 'width: 390px' %>
        </div>
        <p class="text-center"><input type="submit" value="Modifier"></p>
    </div>
  </div>
  <% end %>
</div>
