<section class="get-in-touch">
   <h1 class="title">Nous contacter</h1>
   <form class="contact-form column pt-5">
      <div class="form-field col x-50">
         <input id="name" class="input-text text-left js-input" type="text" required>
         <label class="label" for="name">Nom</label>
      </div>
      <div class="form-field col x-50 pt-5">
         <input id="email" class="input-text text-left js-input" type="email" required>
         <label class="label" for="email">@Email</label>
      </div>
      <div class="form-field col x-100 pt-5">
         <input id="message" class="input-text text-left js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center pt-5">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>