<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">La ville : <%= params[:cities].name %></h5>
    <p class="card-text">Le code postal : <%= params[:cities].zip_code %></p>
  </div>
</div>
